<a href="https://colab.research.google.com/github/QCSG-Qiskit/qiskit-project-hub/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!") #ctrl+enter 치면 현재 셀 실행 <- # 하고 쓰면 추석처리
# <- ctrl+/로 토글
# shift+enter하면 실행하고 다음 셀로 넘어감
# alt+eneter하면 실행하고 밑에다가 셀을 새로 만듦
# esc하면 방향키 위아애로 셀 왔다갔다. 엔터 치면 다시 코드 작성. 이 모드에서 a하면 위에 셀, b하면 아래에 셀 만듦
# ctrl+m,d 컨트롤 엠 다음 디 누르면 셀이 삭제 됨. (ctrl+m, z는 셀 수준 실행 취소, ctrl+shift+y는 셀 수준 다시 실행)
# ctrl+z, ctrl+shift+z, ctrl+c, ctrl+v 같은 것들은 다 잘됨

#spyder "IDE" #python이 다 cell기반이 아니고 얘는 cell 기반이다. 여러 사람이 볼 코드면 decoration이 중요할 수 있고.. 이게 스크롤이 너무 늘어나서 정신이 없음.

Hello World!

# 큰 제목
## 그 다음으로 큰
### **볼드**

-1
 - 1-1
  - 1-1-1

-2-1

1. a
2. b
> gg
>> ggg

$y=x$

'''python
print("Hello wolrd")
'''

[유튜브]https://youtu.be

## 파이썬은 계산기다!

In [ ]:
1+1

2

In [ ]:
3-5

-2

In [ ]:
2*5

10

In [ ]:
5/2

2.5

In [ ]:
4/2

2.0

In [ ]:
type(2) #int 는 integer의 줄임말 (정수라는 뜻)

int

In [ ]:
type(2.0) #float는 부동소수점이라는 뜻. 실수. 2. 이라고도 해도 값을 인식함

float

In [ ]:
4//2 #2.0 이면 "두번째"라는 걸 못 나타내서 이런게 필요함

2

In [ ]:
5//2 #얘는 사실 몫을 뱉어 주는 것 !

2

In [ ]:
int(5/2)

2

In [ ]:
float(1)

1.0

In [ ]:
int(2.9) # 반올림은아님.소수점 아래 삭제.

2

In [ ]:
int(-2.9)

-2

In [ ]:
5%2 #반면에 이건 나머지를 알려줌. 유식한 말로 modulo 연산!

1

In [ ]:
2*2*2*2*2*2*2*2*2*2

1024

In [ ]:
2**10 #2의 10승.

1024

In [ ]:
print(0b011) #0b는 2진수
print(0xA) #0x는 16진수. 그냥 하면 마지막 것만 보여줘서 둘다 print를 붙여줌

3
10

In [ ]:
0b011
0xA

10

In [ ]:
a=10 # a라는 이름의 변수에 10이라는값을 "집어넣는다!"

In [ ]:
print(a) #a에 들어있는 값을보여달라
print("a")
a=1 # 10을 집어넣었다가 1을 집어넣었으니 이젠 a에 1이 들어가있다.
print(a)

10
a
1

In [ ]:
a="Hello World" #확실히 수학에서의 등호와는 다르다. 집어넣는거다.
print(a) #a라는 문자열이 들어있는 것임

Hello World

In [ ]:
a1=1
a2=2
a3=3
#1a=10 # 왼쪽에 와야하는 것은 변수 명에서 숫자가 맨 앞에 올수 없다.

In [ ]:
a=3
A=4
print(a); print(A) #대문자 구별됨. 한 줄에 쓰려면 ;로 구별

3
4

In [ ]:
#print = 3 #print라는 변수명에 3이 입력이 된 것임... 함수 명에 값 넣지 마! 만약 이렇게 했다면 런타임 다시 시작

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
#a-b=1
#a*b=1
#a**2=1

In [ ]:
del a
#print(a) #a를 위에서 지워줬기 때문에 실행이안 되는 것임

In [ ]:
a=1; b=2
c=a+b
print(c)

3

In [ ]:
a=a+5 #update가 되는 것임
print(a) #이거 실행을 두 번하면 두 번 더해짐. 1+5 +5 이런개념이 아니라 기존 16에다가 11을 더해주네..?

6

In [ ]:
a += 5 #이건 기호 약속임. a = a+5 와 동일
print(a)

11

In [ ]:
a *=2 # a=a*2
print(a)

22

In [ ]:
a /=2
print(a)

11.0

In [ ]:
x=4
print(x)
print("x =", x)

4
x = 4

In [ ]:
import numpy as np
a=np.array([[1,2],[3,4]])
np.linalg.inv(a)

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

## 진화된 계산기다!

In [ ]:
a=1
a==1 #같냐? 정도는 물어볼 수 있음. 등호같은 개념..

True

In [ ]:
a>3

False

In [ ]:
a>=3

False

In [ ]:
a=>3 #이모티콘 있네 그럼 안됨.

SyntaxError: invalid syntax (<ipython-input-39-30f58de99375>, line 1)

In [ ]:
a!=3 #!다르냐

In [ ]:
a is 1

In [ ]:
a is not 1

In [ ]:
#matlab이나 c언어 같은

In [ ]:
"Python" == "python"

In [ ]:
x=3
print(x>1 and x<5)
print(x>1 or x<-1) #1보다 크거나 -1보다 작냐. 둘 중에 하나만맞아도 or. true임.
print(bool(1))
print(bool(0)) #숫자 1을 true 혹은 false로 변환시켜주는것임
print(type(x>1)) #true, false는 자료형을 보여주는 것임
print(type("True"))
int(2.5)

##여러 개를 한 변수에 넣을 순 없을까? 리스트!

In [ ]:
a=[1,2,3] #여러 개를 하고 콤마를 하면, 하나의 변수에 여러 개를 넣는 것. list라고 함. 나열임. 숫자 일 수도 있고..
print(a)

In [ ]:
a=[1,2,3]
b=[3,4,5]
print(a+b) #더하는 게 아니고 쌓는다 는 개념임

In [ ]:
#대괄호 안에 문자로 넣을 수 있거든. 뭐든 들어간다. 교환법칙시 성립하지 않는 것임
a=[4, "ㅋ", 6]
print("a")
print(a)

In [ ]:
c=[] # 빈 리스트
c.append(1)
c.append("하하")
c.append(3)
print(c)

In [ ]:
a=[]
a = a+ [1] #a += [1] 이것도 같은 의미
a += ["ㅋㅎㅎ"]
a += "ㅋㅎㅎ"
a += [2]
print(a)

In [ ]:
loss_history=[]
loss=1
loss_history += [loss]
print(loss_history)

##range는 반복문의 친구

In [ ]:
range(10)
list(range(10)) #range를 list로 바꿔줌
print(a) #list는 list, range는 range의 자료형이 따로 있는 것임

In [ ]:
b=list(range(1,11)) #이건 1부터 10까지
print(b) #matlab에서 넘어오면 다른 점 중 하나임. 11인데 11까지가 아니라 미만까지라고 생각하면 됨. 이점이 있음. matlab은
#k=0:N-1 #matlab에서는 이렇게 썼어야 했는데, range라고 하면 10개구나 바로 알 수 있음
c=list(range(1,11,2)) # 1부터 시작. 11미만까지 2 간격. 미만까지이기 때문에 11이 안 나옴
print(c)
print(list(range(10,0,-1))) #10 부터 시작, 그리고 0 초과까지

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 튜플이라는 것도 있어오

In [ ]:
a=(1,"ㅋ", 3)
b=[1,2,3]
print(type(a))
print(type(b))

In [ ]:
b=tuple(range(10))
print(b)

In [ ]:
a = list(range(10))
b = tuple(range(10))
c= tuple(a)
d= list(b)
print(a)
print(b)
print(c) #튜플과 리스트가 바뀐다!
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# in은 있냐? 를 물어봄

In [ ]:
a=list(range(10))
b=tuple(range(10))
c=range(10)
print(1 in a) # a 에 1이 있냐?
print(15 in a)
print(1 not in b) #b에 1이 없냐?
print(15 in b)
print(5 in c)

In [ ]:
s = "Hello"
print("h" in s)
print("H" in s) #대소문자를 구분함. 스트링도 가능

#리스트의 기본 연산과 인덱싱

In [ ]:
a=[1,2,3]
b=a+a
c=a*3
d=a*(12//4) #12/4 릃 하면 float으로 바뀌게 되어서 12//4 로 해야함
e=a*int(12/4)
print(a)
print(b)
print(c)
print(d)
print(e)

In [ ]:
a=[1,2,3]
print(len(a)) #len 은 length로 길이를 알려줘임.

In [ ]:
s="hello"
s2=["hello"]
print(s)
print(len(s)) #len() 안에 문자열이 들어오면 문자의 개수를 알려주고
print(s2)
print(len(s2)) # len() 안에 리스트가 들어오면 리스트에 들어있는 항목의 개수를 알려준다. 왜냐면 리스트의 길이를 알려주는 거라서..!

In [ ]:
a=[1,2,3]
print(a[0]) #이걸 인덱싱이라고 해줌. matlab에서도 있는데 다른 점은 1부터 시작. 코랩은 0부터 시작. #a[i] : i 번째의 값을 가리킴.
print(a[0], a[1], a[2])
print(a[-1]) # -1 은 마지막 것을 가리킨다.
print(a[-1], a[-2], a[-3]) #마지막에서 전전꺼 -2 이런식으로 나타내줄 수 있음

1
1 2 3
3
3 2 1

In [ ]:
r=range(0, 10, 2) #range로 인덱싱 됨
print(r[0],r[1],r[2])

In [ ]:
a=[1,2,3]
a[0] = 3
a[1] = 5
a[2] = 10
print(a) #리스트도 마찬가지로 마지막에 정의된 애가 새로 입력되게 되어있음. 리스트는 중간에 값을 바꾸게 되는데 mutable이라고 함 튜플은 immutable임

In [ ]:
a=(1,2,3,)
a(0)=2#a[0] immutable

In [ ]:
a=[1,2,3]
del a[1]
print(a)

#굉장히 많이 쓰이는 슬라이스!

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10] #python의 꽃은 list!
b=a[0:3] # 0부터 3 미만번째
print(b)

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[1:3])
print(a[3:-1])
print(a[1:7:2]) # 8은 비포함
print(a[:5]) # 0 을 안 쓰면 0이 디폴트임. 첫 번째 자리를 비우면 처음 것부터
print(a[5:]) # 두번째 자리를 비우면 마지막까지 (마지막도 포함. 드디어..)
print(a[:]) # 처음부터 끝까지라는 말임

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[:7:2])
print(a[7::2])
print(a[::2])
print(a[::]) # 세 번째를 비워두면 1간격임

In [ ]:
a=[1,2,3,4,5]
del a[1:3]
print(a)

## 딕셔너리

In [ ]:
dic1 = {"a":1 ,"b":2, 100:"5", 200:"ㅎㅎ"} #중괄호다. 콜론 (:) 이 들어간다.
# key value라고 함. 숫자 문자 뭐든간에 키, 값이 될 수 있다.
# key에는 수정할 수 없는 튜플은 되고, 리스트는 안 됨.
# 값에는 튜플도 되고 리스트도 됨.
# key가 마치 영한 사전으로 비유하면, 영한 사전이 key이고, value가 뜻임.
print(dic1)
print(dic1["a"], dic1["b"], dic1[100], dic1[200]) #0,1,2 이렇게 찾는 게 아니라
print(len(dic1)) # 네 쌍이라서 4
print(dic1.keys())
print(dic1.values())
print(dic1.items())

In [ ]:
print(list(zip(["a","b"], [1,2])))
a=dict(zip(["a","b"], [1,2]))  #zip은 지퍼처럼 하나하나 딱딱 짝을 지어주는 것
print(a)

In [ ]:
dic1={"a":1, "b":2, "c":3, "d":4}
dic1["a"]=100; dic1["b"] = 200; dic1["c"]=300; dic1["d"]=400
print(dic1)
dic1["e"] = "새로운 키"
print(dic1)
print("a" in dic1) #"a" 라는 키가 있느냐
print("A" in dic1) #100 이라는 키가 있느냐. dictionary는 키가 중심임. in도 키 중심으로 키가 있느냐 물어봄

##조건문

In [ ]:
a=5
print(a>3)
print(a<3)
print(a==5)

if a>3:
    print("3보다 큽니다")

if a<3:
    print("3보다 작습니다.") #위에서부터 내려오는 거임. 6에서 true니까 7 실행. 8에 없네. false면 실행을 안 함. 에러가 아니가 넘어가는 거임

if a==5:
    print("5와 같습니다.")

#if a=5:
#    print("5를 a에 넣는다면..?") #이건 문법 오류라는 거임. a를 5에다가 넣는다니..

In [ ]:
a=5
if a==5:
    print("5와")
    print("같습니다") #2줄 실행이 되는 지 보는거. true면 들여쓰기 되는 부분을 다 실행해라.
#if a==5:
#    print("5와")
        #print("같습니다") #이러면 오류 뜸. shift+tap으로 왔다갔다 가능함
if a==5:
    print("5와 같습니다.")
print("if문 밖으로 나옴. 여기서부터 계속 실행된다.")  #10번도 쭉 내려오는 거임.

In [ ]:
x=15
if x>10:
    print("10보다 크다.")
    if x==15:
        print("15입니다")
    if x==20:
        print("20입니다") #10보다 크면서 15랑 같으니까 실행되어서 두 개가 들어옴. 맨 마지막은 건너뜀
    a=1
print(a)

In [ ]:
x=15
if x<10: #애초에 여길 통과 못해서 이 안에 x==15:가 있더라도 실행되지 않음!
    print("10보다 크다.")
    if x==15:
        print("15입니다")
    if x==20:
        print("20입니다").  #왜 아무것도 안 나왔나? 2번에서 false니까 처다도 안 보고 맨 아래로 간다는 것임.

In [ ]:
x=15
if x<10:
    print("x는 10보다 작습니다 (10미만)")
else:    #if가 true면 else가 false, if가 false면 else로 가는 것임. 둘 중 하나는 true이고 false가 됨
    print("그 이외 (10이상)")
    print("else도 들여쓰기 영역 모두 실행")

In [ ]:
x=15
if x<10:
    print("10보다 크다.")
    if x==15:
        print("15입니다")
    if x==20:
        print("20입니다")

In [ ]:
if True:
    print("여기 들어온다")
else:
    print("여기 안 들어와야")

if False:
    print("여기 안 들어온다")
else:
    print("여기 들어와야")

In [ ]:
if 1:   #bool(-1)이 true. 0만 아니면 다 true 취급임.
    print("0만 아니면 true 취급")
else:
    print("여기 안 들어와야")

if 0:
    print("0은 false 취급")
else:
    print("따라서 여기로 들어올 것이다")

In [ ]:
if "False":   #bool(-1)이 true. 0만 아니면 다 true 취급임.
    print("글자 있으면 true 취급")
else:
    print("여기 안 들어와야")

if "":
    print("빈 문자는은 false 취급")
else:
    print("비어 있으면 이리로 옴")

In [ ]:
print(bool(1))
print(bool(0))
print(bool("Hello"))
print(bool(""))

In [ ]:
a=1
b=2
if a>0 and b>0:
    print("둘다 맞아야만 들어옴")
else:
    print("둘 중 하나라도 안 맞으면 여기로")

In [ ]:
a=1
b=2
if a>0 and b<0:
    print("둘다 맞아야만 들어옴")
else:
    print("둘 중 하나라도 안 맞으면 여기로")

In [ ]:
a=1
b=-1
if a>0 or b>0:
    print("둘 중 하나라도 맞으면 여기로")
else:
    print("둘 다 맞으면 여기로")

In [ ]:
a=1
b=-1
if a<0 or b>0:
    print("둘 중 하나라도 맞으면 여기로")
else:
    print("둘 다 안 맞으면 여기로")

In [ ]:
x=10
if 0<x<20:
    print("부등호 연달아 써도 된다")

In [ ]:
x=25
if 0<x<20:
    print("부등호 연달아 써도 된다")
elif x<50: #0~20아니고, 50보다 작은가? #python은 elseif도 아니고 else if 가 아니고, elif임.
    print("아니면 50보다 작은가?")

In [ ]:
x=5
if 0<x<10:
    print("10보다 작은가") #가장 먼저 만족하는 애를 실행해줌. 그 아래도 맞지만 if다음 elif다 보니까 if가 맞으면 그 아래로 넘어가지 않음.
elif x<100:
    print("아니면 50보다 작은가?")
else:
    print("둘다 아닌가? (10보다 작지도, 50보다 작지도 않은가?)")

In [ ]:
x=2.   #특이한 걸 발견함. 여기서 내가 x=2라고 하지 않으면, x==2 라고 입력하고 실행하니까 이전에 x=4에 입력됐던 값이 반환됨. key-value가 그렇게 입력이 된듯.
if x==1:   #그리고 x==1, x==2, x==3 이런걸로 하면 안 바뀜. 맨 처음 입력된 key-value에 맞춰 아래에서 그 값을 찾는 것으로 보임
    print("1에 해당하는 무언가 실행")
elif x==2:
    print("2에 해당하는 무언가 실행")
elif x==3:
    print("3에 해당하는 무언가 실행")
elif x==4:   #else if는 제한이 없음
    print("4에 해당하는 무언가 실행")
elif x==5:
    print("5에 해당하는 무언가 실행")
else:
    print("다른 무언가 실행")
 #else는 무조건 가장 마지막에 단 하나만 남겨놔야함

## 반복문!

In [ ]:
print("Hello!")
print("Hello!")
print("Hello!")
print("Hello!")
print("Hello!") #

In [ ]:
for i in range(5):
    print("Hello!")

In [ ]:
for i in range(5,12):   #range(5) <- 0,1,2,3,4, 으로부터 i라는 이름으로 하나씩 꺼내서 그 i에 대해 아래를 실행해라
    print(i) #print를 다섯 번 했다는 뜻임.

In [ ]:
for i in range(5,12,2):
    print(i)

In [ ]:
for i in range(10,0,-1):
    print(i)

In [ ]:
list(reversed(range(10)))

In [ ]:
for i in [0.4, 0.1, 0.67, -0.2]:   #list를 in을 해서 하나씩 꺼내오는 것도 가능함
    print(i)

In [ ]:
a = ["apple", "banana", "carrot", "d", "e"] #python 문법이 허용하는 거임. 반복 가능한 객체에 대해서는 반복문이 돌아감
for i in a:
    print(i)

In [ ]:
for i in range (len(a)): #파이썬 스럽지 않다..!
    print(a[i])
#list에는 별 것 다 올 수 있음.

In [ ]:
a = "Hello"#python 문법이 허용하는 거임. 반복 가능한 객체에 대해서는 반복문이 돌아감
for i in a:
    print(i) #print에는 nu line - 엔터 "₩n" 가 항상 들어가있음

In [ ]:
a = "Hello" #python 문법이 허용하는 거임. 반복 가능한 객체에 대해서는 반복문이 돌아감
for i in a:
    print(i, end="")

In [ ]:
for i in range(3):
    for j in range(3):
        print(i,j)

In [ ]:
i=0
while i<5: #i가 5보다 작은 "동안에" 반복적으로 실행한다는 뜻.
    print(i) #for문과 조건문이 함께 들어가있는 느낌임. i=0 인 상태로 계속 도는 것임 빠져나갈리가 없음... 컴퓨터 죽을때까지...실행 중단을 눌러줘야 함. Ctrl+Mi로 꺼야함
    i +=1 #i = i +1 과 같음
print()
print("i=",i)

In [ ]:
i=0
while True:
    print(i)
    i +=1 #이렇게 하면 조건이 True이기 때문에 계속 쭉쭉 올라감... 조건이 True로 되어있으니까.. True면 돌아라.. 되어 있으니까.
    if i ==5:
        break #가장 가까운 반복문을 튀어나가게 되어있음. #만약 while 위에 또 while이 있으면 또 부쉬지 못함.

In [ ]:
for i in range(10000000000):
    print(i) #i에서 하나씩 꺼내서 도달할때까지... 1주일 걸림..
    if i==5:
        break #만나면 끝내는 게 for 문임.
print(i). #while 하고는 뭔가 조금 다름

In [ ]:
EPOCH = 10
for i in range(EPOCH): #디깅이 해보고 싶음.. 값이 궁금.. iteration계속 돌면 지저분해짐. 그때 써먹기 좋음
    asd = 1
    print(asd)   #break 만나기 전까지 내 코드가 돌아가고 있는 지 확인해볼 수 있다. 그런식으로 확인해볼 수 있음. 만약 잘 돌아갔으면 그 아래 코드로 break로 넘겨봄
    break

In [ ]:
for i in range(10):
    if i % 2 ==0:   #홀짝홀짝에서 짝수일 때 들어오고, 0에서 그냥 끝남. continue는 건너 뛰어라.  i & 2 = 0: 이라고 하면 실행 안됨
        continue #continue는 만남녀 그 밑으로는 안하고 하던 반복 마저 돌아감
    print(i)

In [ ]:
i=0
while i<10:
    i+=1
    if i%2==0:
        continue
    print(i)

In [ ]:
a=[1,2,3,4,5]
for i in range(len(a)): #length a 만큼 돌아라. 항상 "0번째"라고 말해야 함
    print(i, "번째에", a[i], "가 들어있어요")

## for 문과 함께 자주 쓰이는 enumerate

In [ ]:
a=[1,2,3,4,5]
j=1
for i in a:
    print(j, "번째에", i, "가 들어있어요")
    j+=1

In [ ]:
a=[1,2,3,4,5]
for i, val in enumerate(a):
    print(i, "번째에", val, "가 들어있어요")

In [ ]:
a=[1,2,3,4,5]
for i, val in enumerate(a, start=1):
    print(i, "번째에", val, "가 들어있어요")

##반복문 과제

In [ ]:
print("*")
print("**")
print("***")
print("****")

*
**
***
****

In [ ]:
a=""
for i in range(4):
    a += "*"
    print(a)

for i in range(1,5):
    print("*"*i)

for i in range (1,5):
    for j in range(i):
        print("*", end="")
    print()

i=1
while i<5:
    print("*"*i)
    i+=1

i="*"
while True:
    print(i)
    i+="*"
    if i == "*****":
        break

i="*"
while i!="*****":
    print(i)
    i+="*"

##리스트 심화

In [ ]:
a=[1,2,3]
a.append(4)
print(a,"len(a)=", len(a))

In [ ]:
a=[1,2,3]
a.append([4,5])
print(a,"len(a)=", len(a)) #리스트 속에 리스트를 넣는 것임.

In [ ]:
a=[1,2,3]
a += [4,5]
print(a,"len(a)=", len(a))

In [ ]:
a=[1,2,3]
a.insert(1,100) #index, 넣을거
print(a)

In [ ]:
a=[1,2,3]
a.insert(1,[100,200]) #index, 넣을 거
print(a)

In [ ]:
a=[1,2,3,]
b=[100,200]
a[1:1]=b
print(a)

In [ ]:
a=[1,2,3]
a.pop()
#a.pop()
print(a)

In [ ]:
a=[1,2,3]
a.pop(1) #index 1에 해당하는 값을 빼버림
#a.pop()
print(a)

In [ ]:
a=[1,2,3,4,3,5,3]
a.remove(3) #얘는 3을 찾아서 없애줌
print(a) #중복되어 있으면 가장 왼쪽에 있는 애가 빠짐
a.remove(3)
print(a)
a.remove(3)
print(a) #다 빠진 상태에서 하면 없다는 에러가 뜸

In [ ]:
a=[1,2,3,4,3,5,3]
a.index(3) #가장 처음에 나오는 3의 index

In [ ]:
a=[1,2,3,2,2,2] #c언어로 하면 다 짜야할텐데
a.count(2) #다 준비가 되어 있음

In [ ]:
a=[1,2,3,4,5]
a.reverse()
print(a)

In [ ]:
a=[1,5,1,2,6,1,7]
a.sort()
print(a) #오름차순

In [ ]:
a=[1,5,1,2,6,1,7]
a.sort(reverse=True)
print(a) #내림차순

In [ ]:
a=[1,2,3]
a.clear()
print(a) #del은 아에 없었던 것처럼. clear는 비도록 함

In [ ]:
a=[1,2,3,]
b=a
b[1]=10
print("a=", a,"b=",b) #이걸 보면 다 없어짐. 그래서 a를 카피해서 b에 넣어줘야함 b=a를 해버리면 이름이 두 개인 같은 존재가 됨
a is b

In [ ]:
a=[1,2,3,]
b=a.copy()
b[1]=10
print("a=", a,"b=",b)
a is b

In [ ]:
a=[1,2,3]
b=a.copy()
a is b # is 의 결과가 true면 값이 같이 바뀐다. false면 같이 안 바뀌었던 것임.

In [ ]:
a=[1,2,3]
print(min(a))
print(max(a))
print(sum(a))
print(round(1.51561391,3)) #이 중에 round를 가장 잘 쓰게 되는듯..

##리스트 표현식

In [ ]:
a=[i for i in range(5)] #반복문 같은 건데 다른 것임. list 표현식으로 다른 문법임. #range(5) 안의 각각의 값들을 i라는 이름으로 각각 불러오고 i 값으로 리스트를 형성
print(a)

In [ ]:
a=[i+5 for i in range(5)]
print(a)
[1,2,3,4,5]+[5] #하나씩 더하는 게 안됨.. list에게 더하기라 함음 하나씩 값을 꺼내서 해야함.

In [ ]:
a=[ i*2 for i in range(5)]
print(a)

In [ ]:
a=[i-j for i in range(1,5)
        for j in range(1,5)] #앞에서 부터 읽어라. 즉, 뒷 셀에서 for 문으로 풀어쓰면..
print(a)

In [ ]:
a=[]
for i in range(1,5):
    for j in range(1,5):
        a += [i-j]
print(a)

In [ ]:
a=[i for i in range(10) if i%2==0] #range(10) 안의 각각의 값들을 i 라는 이름으로 각각 불러오고
#i 마다 조건문을 보고 True일 때만 i 값으로 리스트를 형성해라 라는 뜻임.
print(a)

In [ ]:
a=[i for i in range(10) if i < 5]
print(a)

##리스트 속에 리스트

In [ ]:
a=[1,2,3,[1,2,3],[4,5]] #matlab에서 온 사람들을 헷갈림.. 행렬같은데 그냥 리스트 안에 리스트임. 묶여있는 리스트다.
#a = ["하나", "둘"] 처럼 두 개의 무언가가 ㄹㅣ스트로 적혀 있는 것. 즉, 리스트 안에 리스트로 [첫 번째 리스트, 두 번째 리스트] 인 것임
print(a,"len(a)=", len(a))
b = [[1,2,3,], [4,5,6]]
print(b)

In [ ]:
a=[[1,2,3],[4,6]]
print(a[0]) #0번째 것이 1,2,3, 1번째 것이 4,6
print(a[1])
print(a[0][0])  #a[0] 번의 값이 [1,2,3] 인데 여기서 0번째를 뽑아라 는 말임
print(a[0][0], a[0][1], a[0][2], a[1][0], a[1][1])
a[1][1] = 500
print(a)

In [ ]:
a=[[1,2,3],[4,5,6]]

for i in a:
    print(i)
    print()

    for x,y,z in a:
        print(x,y,z)
print()

for i in a:
    for j in i:
        print(j,end=" ")
    print()
print()

for i in range(len(a)):
    for j in range(len(a[i])):  #i 번째 행이 가지는 열의 개수는 len(a[i])
        print(a[i][j], end=" ")
    print()

In [ ]:
a=[]
for i in range(3):
    line =[]
    for i in range(2):
        line += [0]
    a += [line]
print(a)

In [ ]:
a=[[0 for i in range(2)] for j in range(3)]
print(a)

In [ ]:
a= [[i*0 for i in range(2)] for i in range(3)]
print(a)

In [ ]:
a=[[0]*2 for _ in range(3)]
print(a)
b=[[0]*2]*3
print(b)

In [ ]:
a=[3,1,3,2]
b=[]
for i in a:
    line=[]
    for j in range(i):
        line += [0]
    b += [line]
print(b)

In [ ]:
a=[3,1,3,2]
b=[[0]*i for i in a]  #list 표현식에 익숙해지면.. 이게 좋다라는 걸 알게 됨. python 표현식. 응용을 만나면 파워풀해짐. 고급 스킬이 됨
print(b)

In [ ]:
a=[[1,2],[3,4]]
b=a.copy()  #copy가 왜 ㅏㄴ되지..? 속에 있는 것까지 뜯어서 하고 싶으면 deepcopy를 해야함
b[0][0]=100
print(a,b)

In [ ]:
import copy
a=[[1,2],[3,4]]
b=copy.deepcopy(a)
b[0][0]=100
print(a,b)

##헷갈리는 리스트 표현식 -> 앞에서부터 써내려가며 for문 만들면 된다!

In [ ]:
print([i for i in range(3) for j in range(3)])
a=[]
for i in range(3):
    for j in range(3):
        a += [i]
print(a)

##Print 응용

In [ ]:
a=1
b=2
c="zz"

print("a=", a, "b=",b, "c=",c)

In [ ]:
a=1
b=2
c="zz"

print("a={num1}, b={num2}, c={str1}".format(str1=c,num1=a,num2=b)) #괄호 안에 숫자는 헷갈릴 수 있음 차라리 이름 정해주는 게 좋을도 있음

In [ ]:
a=1
b=2
c="zz"

print(f"a={a}, b={b}, c={c}") #이렇게 하면 진짜 편리함

## 텍스트 파일 만들고 쓰기

In [ ]:
import os
folder_name="saved"
if not os.path.exists(folder_name): #saved가 있냐
    os.makedirs(folder_name)

with open("saved/Hello.txt", "w") as f: #열린 채로 아래를 실행해란 뜻임. 나가면 fclose 되란 말임
    f.write("Hellow World!₩n")
    f.write("Hellow World!2₩n")
    f.write("Hellow World!3₩n")

In [ ]:
with open("saved/Hello.txt", "r") as f:
    s=f.read()
print(s)
type(s)

In [ ]:
with open("saved/Hello.txt", "r") as f:
    s=f.readline() #한줄씩 list에 넣는다
    print(s)
len(s)

In [ ]:
with open("saved/Hello.txt", "r") as f:
    for i in range(3):
        s=f.readline() # for 랑 같이 써서 한줄씩 읽을 수도
        print(s)

In [ ]:
with open("saved/Hello.txt", "r") as f:
    line= ""
    while line != "":
        line=f.readline()
        s=f.readline()
        print(s)

##코딩의 꽃! 함수

In [ ]:
def f(x): #x라는 이름의 변수를 입력으로 받아 x**2을 출력하는 f라는 이름의 함수를 정의해라 (define)
    return x**2

f(-2) #function call. print라는 함수를 여태 부른 것이다

In [ ]:
def say():
    print("Hello World!")
say()

In [ ]:
def add(a,b):
    print(a+b)
add(1,2)

In [ ]:
def add(a,b):
    return a+b

c = add(1,2) #결과가 c에 들어가있음
print(c)

In [ ]:
def add(a,b):  #a,b 는 매개변수. c는 로컬 변수임.
    c = a+b #로컬 변수는 안에서 열람이 안 됨
    return c
print(add(1,2))
print(c) #런타임 다시 시작 이후 실행하면 a,b,c 변수명은 함수 안에서만 쓰인 것!

3
3

In [ ]:
# call by assignment라는 게있음.
def f(x):
    x[0]=5

a=[1,2]
f(a)
print(a)

[5, 2]

In [ ]:
def f(a):
    a=5
a=3
f(a)
print(a)

#call by assignment
def f(x):
    x[0]=5 #내부에서 리스트 자체에 접근하면 (mutable 하면 속 값이 변해서 밖에서도 변해있음!)

a=[1,2]
f(a)
print(a)

3
[5, 2]

In [ ]:
def add_sub(a,b):
    c=a+b
    d=a-b
    return c,d
x = add_sub(10,20) #하나로 받으면? 튜플로 묶어서 줌
print(x)

(30, -10)

In [ ]:
def add(a,b):
    return a+b
def mul(a,b):
    return a*b
def show_addmul(a,b): #a=10, b=20 을 실행함. 그다음몇번째로 가는거지. 6번줄로 감. 6번줄로 1번으로감. 2번줄로 가고. 6번으로 오고. 출력을 하고 7번 시작.
    print(add(a,b))
    print(mul(a,b))

show_addmul(10,20)

#print(x)
print(x[0])
print(x[1])

30
200
30
-10

In [ ]:
x=(10,20) #튜플임
print(x)
print(*x) # 언패킹이라고 함. 소괄호를 없애줌.
show_addmul(*x) #왜 에러가 나는지 보면 b가 빠졌다고 뜸 a=x가 됨. 그런데 x=(10,20) 이 들어간 거. 따라서 10만 준거랑 같은거임.
x=10,20
print(x) #지가 묶어버림..
type(x)
show_addmul(x)

(10, 20)
10 20
30
200
(10, 20)

TypeError: show_addmul() missing 1 required positional argument: 'b'

In [ ]:
def my_func(*a): #a는 튜플로 패킹되어 있다. 언패킹 상태로 받았으니, a는 패킹되어있는 상태란 거임. 언패킹해서 주면 묶어서 받는다는 것임. 보통은 args:arguments라 함
    print(f"a 에는 {a}가 들어가 있다. 타입은 {type(a)} 라고 한다")

my_func(1)

a 에는 (1,)가 들어가 있다. 타입은 <class 'tuple'> 라고 한다

In [ ]:
def my_func(*args): #a는 튜플로 패킹되어 있다. 언패킹 상태로 받았으니, a는 패킹되어있는 상태란 거임. 언패킹해서 주면 묶어서 받는다는 것임. 보통은 args:arguments라 함
    print(f"a 에는 {args}가 들어가 있다. 타입은 {type(args)} 라고 한다")
    for i in args:
        print(i)

my_func(1,2,3,4,5)

a 에는 (1, 2, 3, 4, 5)가 들어가 있다. 타입은 <class 'tuple'> 라고 한다
1
2
3
4
5

In [ ]:
def my_func(*args):
    for i in args:
        print(i)
my_func("구독자1")
my_func("구독자1", "구독자2", "구독자3")
#구독자 이름을 print하려는데 가변적임

구독자1
구독자1
구독자2
구독자3

In [ ]:
def introduce(name, age, address):
    print(f"이름은 {name}이고 나이는 {age}살이고 사는 데는 {address}이다")

introduce("혁펜", 100, "한국")
introduce("혁펜", "한국", 100)
introduce(name="혁펜", address="한국", age=100)

name="환영"
address="한국" #왼쪽은 introduce안에 변수명. 오른쪽 네임은 없는 것. 줘야하는 것임
age=100
introduce(name=name, address=address, age=age)

이름은 혁펜이고 나이는 100살이고 사는 데는 한국이다
이름은 혁펜이고 나이는 한국살이고 사는 데는 100이다
이름은 혁펜이고 나이는 100살이고 사는 데는 한국이다
이름은 환영이고 나이는 100살이고 사는 데는 한국이다

In [ ]:
def introduce1(name, age, address):
    print(f"이름은 {name}이고 나이는 {age}살이고 사는 데는 {address}이다")
def introduce2(name, age="", address="비밀"):  #디폴트 값이다!
    print(f"이름은 {name}이고 나이는 {age}살이고 사는 데는 {address}이다")

#introduce1(name="혁멘", age=100) #error!
introduce1(name="혁멘", age=100, address="한국") #error!
introduce2(name="혁멘", age=100) #나머지는 디폴트로! 디폴트가 없으면 에러가 뜸.
#introduce2(age=100)

def introduce4(name="비밀", age="비밀", address="비밀"):  #디폴트 값이다!
    print(f"이름은 {name}이고 나이는 {age}살이고 사는 데는 {address}이다")

introduce4()

이름은 혁멘이고 나이는 100살이고 사는 데는 한국이다
이름은 혁멘이고 나이는 100살이고 사는 데는 비밀이다
이름은 비밀이고 나이는 비밀살이고 사는 데는 비밀이다

In [1]:
d = {"name":"혁펜", "age":100, "address":"한국"}
print(*d)
introduce4(*d) #introduce4("name","age","address")

name age address

NameError: name 'introduce4' is not defined

In [ ]:
kwargs = {"name":"혁펜", "age":100,"address":"한국"}
print(*d)
introduce4(*d) # introduce4("name", "age", "address") 문자열을 준 것임
print({**d})
introduce4(**d) #함수에 넘기면 어떨까? introduce4(name="혁펜", age=100, address="한국")와 동일함. **은 unpacking을 두 번 하는 것임.

name age address
이름은 name이고 나이는 age살이고 사는 데는 address이다
{'name': '혁펜', 'age': 100, 'address': '한국'}
이름은 혁펜이고 나이는 100살이고 사는 데는 한국이다

In [ ]:
def my_func(**kwargs): #kwargs: keward arguments, 딕셔너리로 묶어 받는다
    print(f"kwargs에는 {kwargs}가 들어가있다. 타입은 {type(kwargs)} 라고 한다")

my_func(name="혁펜") #반드시 키워드도 줘야함. unpacking을 두 번 한 채로 받았기 때문에 k는 두 번 한 존재다. 얘는 바로 dic.라는 것임.
my_func(name="혁펜", age=100, address="한국")

kwargs에는 {'name': '혁펜'}가 들어가있다. 타입은 <class 'dict'> 라고 한다
kwargs에는 {'name': '혁펜', 'age': 100, 'address': '한국'}가 들어가있다. 타입은 <class 'dict'> 라고 한다

In [ ]:
def introduce(**kwargs):
    if "name" in kwargs: #"name"이라는 key가 kwargs에 있다면
        print("이름은", kwargs["name"], "입니다")
    if "age" in kwargs: #"name"이라는 key가 kwargs에 있다면
        print("나이는", kwargs["age"], "입니다")
    if "address" in kwargs: #"name"이라는 key가 kwargs에 있다면
        print("사는 곳은", kwargs["address"], "입니다")

introduce(name="혁펜", age=100, address="한국")
introduce(name="혁펜") #아깐 안 주면 "비밀"로 떴는데, 여기선 아예 뜨지도 않게 만듦

이름은 혁펜 입니다
나이는 100 입니다
사는 곳은 한국 입니다
이름은 혁펜 입니다

In [ ]:
#**이 붙은 애는 dic으로 보내는데, dic은 value만 있으면 안 되기 때문에 명시를 해줘야만 함. *args가 있고, **arg를 받고, 여기는 1,2,3은 arg에 들어감.
# ** keywards args는 dictionary를 편하게 받게. 이름까지도 마음대로 받게. 그래서 introduce를 할 때 introduce(1,2,3,4,)이건 args인데,
#이거 순서도 내맘대로 LR, BATCH size도 주고 그러는데, 여기서 learning rate을 쓰고 싶으면, kwargs["LR"]이렇게 해주면 알아서 이렇게 들어가기도 하고,
#**로 하면 kwargs에 들어가니까 줄줄이 써줄 필요가 없다. 다 받을 필요 없이 묶어 받고, 이름과 값을 같이 넘겨 받을래 그 뜻임. args는 값을 넘겨 받을래? 이고
#kwargs는 이름을 붙여서 받는 거라고 보면 됨. 이름의 순서 상관없이 묶어서 받겠단 것임.
#dictionary를 받기 위함이라기 보단.. 넘겨줄때 편하게 넘기고 받을 때 편하게 받기 위함
#디폴트 값을 정할 녀석들을 모두 뒤쪽으로. 디폴트 주고 안 주고 그러면 안 됨. name인지 age인지 모호해지면 안 됨.
#key와 value가 같이 들어간다고 보면 됨. keyword arguments는, **은 dictionary로 넘겨주는 건데, 둘 다 있어야함. 별 arg는 입력으로부터 해방.
#** keyword args는 dictionary를 편하게 받을 수 있게. 이름까지도 마음대로 줄 수 있게
#순서도 내 마음대로 LR=LR, BATCH=BATCH를 줄 수 있는데, 굳이 LR을 넘겨주고 하지 않아도, 순서를 맞추거나 할 필요 없이, **로 해주면 keyword args로 들어가니까
#줄줄이 하나씩 써줄 필요가 없음.
# *args, **kwargs.

In [ ]:
def f(**k):
    if "a" in k:
        print(k["a"]) #이건 하나를 준 것. 못 넘겨받아서 문제라기 보단, 묶어서 받고 싶어서라고 이해하면 됨
    if "b" in k:
        print(k["b"])
f(a=2)

2

In [ ]:
def f(a,b):
    print(a) #이걸 dictionary없이 한다고 하면 하나하나 받아줘야 했는데, 위랑 아래랑 차이는, 아래는 b를 안 주면 안되는데, 위에는 안 줘도 괜찮음. 자유도가 높아짐!
    print(b)
f(a=2,b=4) #얘는 b를 안 주면 안 됨, 위에는 b를 안 줘도 됨. 자유도가 높아짐. 얘는 반드시 a,b를 줘야만 함

2
4

##재귀함수

In [ ]:
def say():  #함수를 함수 내에서 또 콜 하는 걸 재귀함수라고 함
    print("Hello World!")
    say()

#say() #실제 실행은 여기서 하는 것임. 콜을 하면 5번에서 1번으로 가고, 3번으로 가고, 다시 1번줄, 마치 while문처럼 계속 끝도없이 돌아가다가 멈출 것임.

In [ ]:
def say(count):
    if count==0:
        return #return을 만나면 함수가 종료 된다! count가 0이면 끝나는 것임
    print("Hello World!")
    count -= 1 #count = count-1 이라는 뜻임 빼서 부른다.
    say(count)

say(3) #8번에서 1 가고 0이 아니니까 또 가고, 계속 반복됨. 카운트가 2인 상태로 들어감. return을 만나면 종료가 되는 것임. return이 없으면 마지막줄까지 가고 끝이 나는 개념.

Hello World!
Hello World!
Hello World!

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    return n*factorial(n-1)

factorial(5)

120

## 로컬변수와 글로벌 변수

In [2]:
EPOCH = 2  #전체 데이터를 두 번 반복한다는 것
BATCH = 5  #5개씩 끊어 본다. 데이터가 15개라면 5개씩 끊어서 보겠다. 여기서는 대문자로 글로별 변수를 구분했음 글로벌 변수라고 하고,

def train(weight): #weight는 매개변수라고 함. train은 함수. 여기서 weight=0을 실행한다고 봄. 밖에서 받은 0을 집어 넣는다. 이걸 업데이트 해보자.
    x = 1 #x는 로컬 변수라고 함.
    for i in range(EPOCH): #글로벌은 안에서도 쓸 수 있다.
        for j in range(BATCH):
            print(f"{i} 번째 Epoch 이며 {j}번째 batch 입니다")
            weight += 1
    return weight

train(0)
#print(x)#로컬 변수라서 밖에서 보면 없는 존재
#x=2 여기서 x=2라고 정의하면 또 다른 말이 됨.

0 번째 Epoch 이며 0번째 batch 입니다
0 번째 Epoch 이며 1번째 batch 입니다
0 번째 Epoch 이며 2번째 batch 입니다
0 번째 Epoch 이며 3번째 batch 입니다
0 번째 Epoch 이며 4번째 batch 입니다
1 번째 Epoch 이며 0번째 batch 입니다
1 번째 Epoch 이며 1번째 batch 입니다
1 번째 Epoch 이며 2번째 batch 입니다
1 번째 Epoch 이며 3번째 batch 입니다
1 번째 Epoch 이며 4번째 batch 입니다

10

In [5]:
def f():
    global x
    x=20
    print(x) #위에 x라는 변수를 글로벌로 쓸거야. 바깥에서도 쓸거다 알려주는 것임. 안에서 글로별 변수를 만들 수 있음. (밖에서는 굳이 global 안 붙여도 global임)
f()
print(x) #만약에 global을 # 처리하면 바깥에서 안 보임

20
20

In [9]:
x=10
def f():
    x=100
    print(x)
    #=100
    #print(x)
f() #글로벌 변수를 안에서 쓸 수 있음. durltjsms fhzjf qustnrk cnffur
print(x) # 이름은 같은데 저장된 메모리 주소 자체가 다름. 글로벌 변수가 출력됨

100
10

In [11]:
x=10
def f():
    global x
    x=20
    print(x)
f() #로컬 변수가 출력됨
print(x) #global이 변해버림

20
20

##람다 표현식

In [15]:
def plus_ten(x):
    return x+10
plus_ten(10)

20

In [17]:
plus_ten = lambda x: x+10 #입력이 x, 출력이 x+10
plus_ten(10)

20

In [20]:
(lambda x: x+10)(10) #뭔가 list같은 걸 할 때, list 표현식 해볼까, lambda 표현식을 해볼까 해보면 파이썬 떠나기 힘듦.
#리스트의 그런 것들이나, 람다 표현식 등등 굉장히 편하게 쓸 수 있게 만들어 놓은 게 많음. 세 줄이 한 줄 된 것임

20

In [23]:
def plus_ten(x):
    return x+10
print(list(map(plus_ten, [1,2,3]))) #함수를 매개변수로 넘겨줌. 함수 이름을 넘겨 받는 것임, 리스트 각각에 함수를 통과시켜 준 것임.
#map이라는 건 함수를 입력으로 받는 함수다.
#넣은 녀석들(list)을 넣어주면 여러번 call해서 값을 얻는다
print(list(map(lambda x:x+10, [1,2,3]))) #축약이 됨.

[11, 12, 13]
[11, 12, 13]

In [27]:
#만약 입력이 두 개라면?
f= lambda a,b:a+b #콤마로 여러 개 입력 가능
f(10,20)

30

In [29]:
f = lambda a,b:a+b
print(list(map(f,[1,2,3], [2,3,4]))) #하나 하나 가져옴. 두 개 입력에 대해

[3, 5, 7]

In [33]:
def add_1(a,b):
    c=1
    return a+b+c
print(add_1(10,20))

#lambda a,b:c=1, a+b+c #def 안에서 변수 선언해서 쓸 수 있는데 lambda는 아님

31

In [34]:
def add_mul(a,b):
    return a+b, a*b

add_mul(10,20)

#(lambda a,b:a+b, a*b)(10,20)
# 두 개 출력은 안 됨

(30, 200)

In [38]:
def func(x):
    if x%2 == 0:
        return 2*x
    else:
        return x
print(list(map(func, [1,2,3,4])))

f=lambda x:2*x if x%2==0 else x
print(list(map(func, [1,2,3,4])))

#f = lambda x:2*x if x%2==0 #람다 표현식으로 if 썼으면 반드시 else도 필요! 컴퓨터 아키텍처적인 문제임

[1, 4, 3, 8]
[1, 4, 3, 8]

In [42]:
def func(x):
    if x==1:
        return 2*x
    elif x==2:
        return 3*x
    else:
        return x
print(list(map(func,[1,2,3,4,])))

#if ~~:
#else ~
#    if ~ #이게 elif 임

f=lambda x:2*x if x==1 else 3*x if x==2 else x  #elif는 안쓰고 else 이거 출력. if ~~ 이런 식으로 표현해야 함. 많은 줄을 확 줄여줌.
print(list(map(func, [1,2,3,4,])))

[2, 6, 3, 4]
[2, 6, 3, 4]

##클래스. 가장 중요!

In [44]:
#로봇을 만든다고 해보자 -> 로봇의 키가 몇이고 몸무게가 몇이고. 안녕이라고 말하면서 인사를 하는 기능이 있고..
#클래스는 좀 큰 변수를 만드는 것. a=1 은 숫자 한 개 들어간 변수.
#a에 숫자 한 개도 넣고 리스트도 넣고 그것들을 가지고 뭔가 기능을 하는 함수를 만들어 넣고 그럴 순 없을까? 여기서 시작했다고 봐도 되겠음
#객체 지향 프로그래밍 (object oriented programming. 클래스를 활용하는 것. OOP)
class Robot:
    def greeting(self): #메서드(method): 클래스 내부의 함수, 첫 번째 매개변수는 무조건 self (인스턴스 자기자신)
        print("Hello")

bot1 = Robot() #Robot 이라는 클래스에 해당하는 instance 만들기 (실체화). 나중에는 입력도 넣을거라 () 붙여야 함. 함수를 콜하듯이 붙이는 문법임.
bot1.greeting() # 쩜은 "이놈이 가지고 있는" 정도의 의미. bot1이 가지고 있는 greeting이라는 함수를 콜 한다는 의미.

Hello

In [49]:
a=[1,2,3] #list도 사실 클래였음. 인스턴스 생성
a.append(4) # a라는 이름의 인스턴스가 append라는 이름의 method 실행
print(type(1))

<class 'int'>

In [52]:
class Robot:
    def __init__(self): #initialize라서 init이고, 인스턴스 생성 즉시 이 함수부터 최우선 순위로 들어오고 실행해달라는 뜻임
    # 이 함수명은 약속된 이름이다 (special method) 라고 부름
        print("__init__으로 들어옴")
bot1 = Robot() #인스턴스 만드는 동시에 __init__ 함수 실행

__init__으로 들어옴

In [57]:
class Robot:
    def __init__(self):
        self.sentence = "안녕" #자기 자신이 가지고 있는 무언가. 로봇 주머니에 sentence를 넣어라.
        #self는 만들어진 인스턴스 자기자신 자체를 가리키고,
        #self.무엇 은 self 내부의 것(변수, 함수)을 가리킴
        #클래스 내부의 변수는 속성(attribute)이라고 한다.

    def greeting(self):
        #print(sentence) # error !
        print(self.sentence) #주머니에서 sentence를 꺼내 쓴다

bot1 = Robot()
bot1.greeting()

안녕

In [68]:
class Robot:
    def __init__(self, height, sentence): #밖에서 넘어오는 매개변수는 무조건 self 뒤에
        self.height = height #self.height는 밖에서 들어온 height랑은 다른 거임
        #클래스 내부에서 써먹으려고 주머니에 넣은 것
        self.sentence = sentence
    def greeting(self):
        print(self.sentence)
        print(f"제 키는 {self.height}이에요")

bot1=Robot(180, "안녕") #180이 height으로 들어가고, sentence에 안녕이 들어감
bot1.greeting()

print(bot1.height)
print(bot1.sentence)
bot1.height -=10
bot1.greeting()

bot2=Robot(160,"하이") #규칙을 만들어 놓으면, 또다른 존재를 만들 수 있음. 만약 이렇지 않으면 아래와 같이 해줘야함
bot2.greeting()
print(bot2.height)
print(bot2.sentence)

안녕
제 키는 180이에요
180
안녕
안녕
제 키는 170이에요
하이
제 키는 160이에요
160
하이

In [69]:
#bot1_height
#bot1_sentence

#bot2_height
#bot2_sentence 위처럼 안하면 이렇게 하나하나 다 해줘야함

In [77]:
class Robot:
    def __init__(self, height, sentence):
        self.__height = height #self.height를 밖에서 쓰기 금지로 만드려면? __ 이거 두 개 추가하면 비공개로 만들고 싶은 속성 추가
        self.sentence = sentence
    def greeting(self):
        print(self.sentence)
        self.__height -= 10 #클래스 내부에서는 변형 가능
        print(f"제 키는 {self.__height}이에요")

bot1 = Robot(180, "hi")
bot1.greeting()
#print(bot1.__height) #이렇게 하면 없다고 해버림
print(bot1.sentence)
#bot1.__height -= 10 # error! self.height는 밖에서 접근이 안된다..!
bot1.sentence = "ㅋ"
print(bot1.sentence)

hi
제 키는 170이에요
hi
ㅋ

In [80]:
#상속 -> 효율화
class Robot: #부모 클래스.
    def greeting(self):
        print("안녕하세요")
class Study_bot(Robot): #자식 클래스. Robot 클래스를 상속 받음 -> 뭐가 좋은데? -> Robot이 가지는 함수를 사용 할 수 있음! 왜 이렇게 하지?
#클래스는 분류잖아요. Study_bot은 좁게 보면 study이지만 로봇인 것임. 개 라는 class가 있을 때 그 중에 종에 포메. dog1=포메() 이렇게 만들어주면 개가 가지고 있는 함수를 가지고 있는 것
    def study(self):
        print("열심열심!!")

bot = Study_bot()
bot.greeting()
#왜 가능하지? 이건 study_bot 이기 전에 bot 이기 때문에 greeting이 되는 것임. 물려받았기 때문에 사용 가능!

안녕하세요

In [85]:
#메서드 오버라이딩 (overriding)
class Robot:
    def greeting(self):
        print("로봇입니다")

class Study_bot(Robot):
    def greeting(self): # 부모의 greeting을 물려받았으나..
        print("공부하는 로봇입니다") # 만약 자식에서 한번 더 수행하면? 다시 정의하면 덮어써버림

bot1 = Study_bot()
bot1.greeting()

공부하는 로봇입니다

In [86]:
#메서드 오버라이딩 (overriding)
class Robot:
    def greeting(self):
        print("로봇입니다")

class Study_bot(Robot):
    def greeting(self): # 부모의 greeting을 물려받았으나..
        super().greeting() #super()가 부모 클래스를 가리킴 #부모의 것을 이렇게 사용하는 것 가능.
        print("공부하는 로봇입니다") #부모의 원래 기능은 유지, 거기에 덧붙이고 싶을 때 오버라이딩 사용 가능

bot1 = Study_bot()
bot1.greeting()

로봇입니다
공부하는 로봇입니다

In [90]:
class Robot:
    def func1(self):
        print("부모 클래스의 func1 실행")
        self.money = 100

class Study_bot(Robot):
    def func2(self):
        print("자식 클래스의 func2 실행")
        self.book = 10

bot1 = Study_bot()
bot1.func1()  #func1을 물려받았기 때문에 반드시 여기서 실행을 해야만 self.money에 상속이 됨.  a=1 은 실행이 되어야 입력이 되는 것과 비슷한 원리.
bot1.func2()
print(bot1.book)
print(bot1.money)

부모 클래스의 func1 실행
자식 클래스의 func2 실행
10
100

In [97]:
#딥러닝 코드에선 아래와 같은 코드를 많이 보게 됨
class Robot:
    def __init__(self):
        print("부모 클래스의 init 실행")
        self.money = 100

class Study_bot(Robot):
    def __init__(self):
        super().__init__() #super init을 먼저 하고 그 다음 뭔가 하게 되어 있음. 상속 받아야 할 것들이 많아, 그것들을 받기 위해 실행을 해주는 것. 그래야 attribute로 데려올 수 있음
        print("자식 클래스의 init 실행")
        self.book = 10

#그냥 부모 클래스 따로 자식 클래스 따로면, 각각 실행한다고 상속받는 게 아니라, 애초에 자식 클래스를 기준으로 해서 자식 클래스에 대해서 위에 self.money가 수행이 되어야함.
#상속받은 function을 수행해서 study봇에 대해서 알 수 있게 됨.
bot1 = Study_bot()
print(bot1.book)

부모 클래스의 init 실행
자식 클래스의 init 실행
10

In [101]:
class Robot:
    def __init__(self):
        print("부모 클래스의 init 실행")
        self.money = 100

class Study_bot(Robot):
    def func2(self): #자식 클래스에 __init__이 없다면 부모 클래스의 __init_이 자동 호출됨
        print("자식 클래스의 func2 실행")
        self.book = 10

bot1 = Study_bot()
bot1.func2() #이걸 실행하지 않으면 9번 줄이 실행이 안 되기 때문에 아래 book 값이 출력이 되지 않음. 상속을 받을 때는 얘 instance안에서 부모 클래스의 함수가 실행되도록.
print(bot1.book)
print(bot1.money)

부모 클래스의 init 실행
자식 클래스의 func2 실행
10
100

In [104]:
class Robot:
    def greeting(self):
        print("로봇입니다")

class Life:
    def eat(self):
        print("냠냠")

class Study_bot(Robot, Life):
    def study(self):
        print("열심열심!") #이러면 둘 한테서 모두 상속을 받음

bot1 = Study_bot()
bot1.greeting()
bot1.eat()
bot1.study() #로봇 그 자체를 인스턴스라고 생각하면 될까요? 로봇은 클래스이고, 클래스의 이름. bot1은 만들어진 인스턴스임. 위에서 클래스는 아직 실체가 없는건데,
#아래 bot1을 통해 만들어 지는 것. 진짜로 만들어 진 것을 인스턴스라고 함. 클래스는 개념만 존재하고 인스턴스는 실체화 하는 것으로 생각하면 될지? 맞음

로봇입니다
냠냠
열심열심!

In [108]:
class 사과:
    def __init__(self):
        self.색깔 = "빨강"
        self.맛 = "달다"

apple1 = 사과()
apple1.맛

#클래스에 대한 질문.. super에다가 init을 하는 이유가, 부모의 속성을 이어받기 위함이라 했는데, 보통 클래스 선언할 때 먼저 속성을 정의하고 그 밑에 함수 메소드 등을 정의하는데,
#그렇게 하기 때문에 자식 메소드에서 init을 선언해주면, 부모의 속성 중에 init에 선언되어있는 걸 한번에 받아올 수 있는거고
#만약 부모의 클래스에서 init에 선언되지 않았던 속성, 함수안에서도 별도 속성을 가지고 있다면, 걔는 자식속성에서 슈퍼를 받아와도 부모 함수 안에 있는 함수는 못 받아올까요?

'달다'

In [114]:
class Robot:
    def __init__(self):
        print("부모 클래스의 init 실행")
        self.money = 100
    def func1(self):
        self.a = 10
class Study_bot(Robot):
    def __init__(self):
        super().__init__()
        print("자식 클래스의 init 실행")
        self.book = 10

bot1 = Study_bot()
print(bot1.book)
#상속하면 다 가져온다기 보다도, 가져온 다음에 실행이 되어야만 함. 이렇게 함으로서 가져왔다기 보단 아래 super를 하면서 가져왔다고 봐야겠네요.
#함수를 실행함으로서 가져오는 개념. 그래서 init을 모두 놓는 모얌임. self. 이렇게 놓는 것은 그 이유가 가지고 올 때 쓱 가지고 올려면 미리 해놔야 하니까. 엄한 함수에서 만들어 놓은 것을
#가져오지 않도록 하기 위함.
print(bot1.money)

부모 클래스의 init 실행
자식 클래스의 init 실행
10
100

In [2]:
#알쏭달쏭 다이아몬드 상속
class A:
    def greeting(self):
        print("A")
class B(A):
    def greeting(self):
        print("B")
class C(A):
    def greeting(self):
        print("C")
class D(B,C): #가장 왼쪽 것의 greeting을 가져옴. 뿌리를 가져가서 가지고 오지 않고, 단순하게 B, C 되어있으면 B의 greeting을 가져옴.
    def __init__(self):
        print("D 생성") #A -> B, C. D(B,C) 만약 greeting하게 되면..?

x=D()
x.greeting() # 왜 갑자기 B가 나오는거지? 순서를 바꾸면 C가 나옴 B,C -> C,B

D 생성
B

##이터레이터

In [7]:
a=[1,2,3]
a_it = iter(a)
print(type(a_it)) #iterator로 변신한 상태
print(next(a_it))
print(next(a_it)) #왼쪽부터 꺼내줌. 만약 다 썼으면 에러가 뜸.
#print(next(a_it))

<class 'list_iterator'>
1
2

In [9]:
for i in iter([1,2,3,]):
    print(i)

a=[1,2,3]
#[~,~,~~]
a_i = next(iter(a))
print(a_i) #list가 아닌 녀석을 iterator로 바꿀 수 있음. 한 숟가락 뜰 때 좋음.

#여기까지 파이썬 기본적인 내용이 끝남.

1
2
3
1